<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="Viewstyle.css" />
    <title>Reasearch database editor/View</title>
  </head>

  <body>
    <div>
      <div class="DaPa">
        <div>
          <button id="Back">Back</button>
        </div>
      </div>

      <div class="tableSelect">
        <p id="otsikko">View table:</p>
        <select id="tab_Sel">
          <option value="Default">Choose an option:</option>
          <option value="ResearchId">Research id</option>
          <option value="Person">Person</option>
        </select>
      </div>

      <div>
        <button id="Submit" class="Submit">Submit</button>
      </div>

      <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>

        <tr>
          <td>Will</td>
          <td>Smith</td>
          <td>America</td>
        </tr>

        <tr>
          <td>Angelina</td>
          <td>Jolie</td>
          <td>America</td>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="Viewgui.js"></script>
  </body>
</html>
