/*Style of the div that contains selection, from where is decided wich table to show*/
.tableSelect {
  margin: auto;
  width: 20%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  background: white;
}

/*Table that appears after selecting wich table to show and pressing submit*/
#demoTable {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  /*top: 22%;*/
  left: 32.5%;
  width: 35%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  transform: scale(1);
}

/*#demoTable row styles */
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/*Submit button style*/
.Submit {
  display: block;
  margin: 10px auto;
  border: 3px solid green;
  padding: 10px;
  background-color: white;
}
