<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="Viewstyle.css" />
    <title>Reasearch database editor/View</title>
  </head>

  <body>
    <div>
      <div class="DaPa">
        <div>
          <button id="Back" class="Back">Back</button>
        </div>

        <div class="tableSelect">
          <p id="otsikko">Table to view at:</p>
          <select id="tab_Sel">
            <option value="Default">Choose an option:</option>
            <option value="ResearchId">Research id</option>
            <option value="Person">Person</option>
          </select>
        </div>

        <div>
          <button id="Submit" class="Submit">Submit</button>
        </div>
      </div>

      <!-- Draggable DIV -->
      <div id="mydiv">
        <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
        <div id="mydivheader">Click here to move</div>
        <p>Move</p>
        <p>this</p>
        <p>DIV</p>
      </div>

      <script type="text/javascript" src="Viewgui.js"></script>
    </div>
  </body>
</html>
