<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="Viewstyle.css" />
    <title>Reasearch database editor/View</title>
  </head>

  <body style="overflow: hidden;">
    <div>
      <div style="overflow: hidden;">
        <div>
          <button id="Back" style="float: left;">Back</button>
        </div>
      </div>
      <button onclick="saveFile()">Save</button>

      <!-- Selections for the viewable table -->
      <div class="tableSelect">
        <p id="otsikko" style="margin: 2px">View table:</p>
        <select id="tab_Sel" style="margin: 2px">
          <option value="Default">Choose an option:</option>
          <option value="ResearchId">Research id</option>
          <option value="Person">Person</option>
        </select>
      </div>

      <!-- Submitbutton to pull up the table  -->
      <div>
        <button id="Submit" class="Submit">Submit</button>
      </div>

      <!-- Table for demonstrating the consept of the viewable table -->
      <table id="demoTable" style="visibility: hidden;">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Country</th>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="Viewgui.js"></script>
  </body>
</html>
