body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

input {
  border: 2px solid #708090; /* this will give the input 1px black border all around */
  border-left: 2px solid #708090;
  border-right: 2px solid #708090;
  background-color: #dadada;
  text-align: center;
  width: 96%;
  height: 67%;
  color: #708090;
}

#contentDiv {
  flex-direction: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#topBar {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: #dadada;
}

#person {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #708090;
  border-right: 2px solid #708090;
  border-left: 2px solid #708090;
  border-bottom: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 50%;
  height: 50%;
  width: 100%;
  background-color: #dadada;
  color: #708090;
}

#research {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  border-left: 2px solid #708090;
  border-bottom: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 50%;
  height: 50%;
  width: 100%;
  background-color: #dadada;
  color: #708090;
}

#research:hover,
#person:hover {
  background-color: #708090;
  color: #dadada;
}

#searchBox {
  display: inline-block;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  border-top: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 55%;
  background-color: #dadada;
  color: #708090;
}

#search {
  display: inline-block;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  border-top: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  color: #708090;
  height: 100%;
  width: 27%;
}

#search:hover {
  background-color: #708090;
  color: #dadada;
}

/*Style of the div that contains selection, from where is decided wich table to show*/

/*Table that appears after selecting wich table to show and pressing submit*/
#dataTable {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 32.5%;
  width: 35%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  transform: scale(1);
}

/*#demoTable row styles */
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
