.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input {
  margin-bottom: 1em;
  padding-right: 20em;
}
.submit-div {
  display: flex;
  justify-content: center;
  margin: 10%;
}
