body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

table {
  font-family: arial, sans-serif;
  border-spacing: 100px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.Txt {
  text-align: center;
}

#main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 1.2;
}

#person {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 2px solid #708090;
  border-top: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 50%;
  height: 50%;
  width: 100%;
  background-color: #dadada;
  color: #708090;
}

#research {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #708090;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 50%;
  height: 50%;
  width: 100%;
  background-color: #dadada;
  color: #708090;
}

#searchBox {
  display: inline-block;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  border-top: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 55%;
  background-color: #dadada;
  color: #708090;
}

#search {
  display: inline-block;
  clear: both;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  border-right: 2px solid #708090;
  border-top: 2px solid #708090;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadada;
  color: #708090;
  height: 100%;
  width: 27%;
}

#search:hover {
  background-color: #708090;
  color: #dadada;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#topBar {
  display: flex;
  overflow: hidden;
  background-color: #dadada;
  width: 100%;
  height: 13%;
  margin: 0px;
}

#sideBar {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 10%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 2px solid #708090;
  border-left: 2px solid #708090;
  background-color: #dadada;
}

#add {
  background-color: #dadada;
  display: flex;
  width: 100%;
  height: 13%;
  align-items: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #708090;
  border-bottom: 2px solid #708090;
  margin: 0px;
}

#view {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid #708090;
  margin-bottom: auto;
}

#setup {
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 2px solid #708090;
  border-bottom: 2px solid #708090;
  margin-bottom: 0px;
}

#add:hover,
#view:hover,
#setup:hover {
  background-color: #708090;
  color: #dadada;
}

#view_Butt {
  filter: invert(57%) sepia(7%) saturate(1079%) hue-rotate(169deg)
    brightness(84%) contrast(83%);
}

#add_Butt {
  filter: invert(57%) sepia(7%) saturate(1079%) hue-rotate(169deg)
    brightness(84%) contrast(83%);
}

#setup_Butt {
  filter: invert(57%) sepia(7%) saturate(1079%) hue-rotate(169deg)
    brightness(84%) contrast(83%);
}

#view_Butt:hover,
#add_Butt:hover,
#setup_Butt:hover {
  filter: invert(100%) sepia(0%) saturate(2923%) hue-rotate(24deg)
    brightness(92%) contrast(86%);
}

.sidebutton {
  margin: 0px;
  padding: 18% 23% 18% 23%;
}

#dataTable {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: 32.5%;
  width: 35%;
  /*font-family: arial, sans-serif;*/
  border-collapse: collapse;
  transform: scale(1);
  border: 1px solid black;
}

#View.View {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#View.View:hover {
  position: absolute;
  left: 30%;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
}

#Modify {
  position: absolute;
  right: 30%;
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#Modify.Modify {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#Modify.Modify:hover {
  position: absolute;
  right: 30%;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.vertical-center {
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
